<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>gamekit</key>
		<true/>
		<key>opengles-2</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>jony.ive@apple.com</string>
	<key>artistId</key>
	<integer>488106216</integer>
	<key>artistName</key>
	<string>Supercell</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>80339087</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>8.709.23</string>
	<key>bundleVersion</key>
	<string>8.709.23</string>
	<key>copyright</key>
	<string>© 2012 Supercell</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<true/>
	<key>gameCenterEverEnabled</key>
	<true/>
	<key>genre</key>
	<string>Games</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>529479190</integer>
	<key>itemName</key>
	<string>Clash of Clans</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Supercell</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2009-08-26T19:12:18Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , Infrequent/Mild Cartoon or Fantasy Violence and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>9+</string>
		<key>rank</key>
		<integer>200</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-08-02T08:24:58Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>softwareIcon57x57URL</key>
	<string>https://is3-ssl.mzstatic.com/image/thumb/Purple113/v4/5b/c2/f3/5bc2f323-b2d7-d094-fb0a-d01f90ecef86/AppIcon-0-1x_U007emarketing-0-85-220-6.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.supercell.magic</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>821132116</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>815109948</integer>
		<integer>815123919</integer>
		<integer>815146984</integer>
		<integer>815157832</integer>
		<integer>815351497</integer>
		<integer>815361809</integer>
		<integer>815430994</integer>
		<integer>816008919</integer>
		<integer>816013165</integer>
		<integer>816049665</integer>
		<integer>816098494</integer>
		<integer>816100206</integer>
		<integer>816180226</integer>
		<integer>816749310</integer>
		<integer>816838979</integer>
		<integer>817119549</integer>
		<integer>817481271</integer>
		<integer>817525600</integer>
		<integer>817535359</integer>
		<integer>817771346</integer>
		<integer>817786349</integer>
		<integer>818014948</integer>
		<integer>819175766</integer>
		<integer>819396148</integer>
		<integer>819495068</integer>
		<integer>819735559</integer>
		<integer>819997053</integer>
		<integer>820186352</integer>
		<integer>820198830</integer>
		<integer>820529040</integer>
		<integer>821132116</integer>
		<integer>822067625</integer>
		<integer>822369219</integer>
		<integer>822477912</integer>
		<integer>822583882</integer>
		<integer>822644184</integer>
		<integer>822726229</integer>
		<integer>823036203</integer>
		<integer>823928520</integer>
		<integer>824084990</integer>
		<integer>824331947</integer>
		<integer>825149928</integer>
		<integer>825287599</integer>
		<integer>825538468</integer>
		<integer>825747026</integer>
		<integer>825830550</integer>
		<integer>825855013</integer>
		<integer>825941123</integer>
		<integer>826166358</integer>
		<integer>826189907</integer>
		<integer>826575560</integer>
		<integer>827178302</integer>
		<integer>827369228</integer>
		<integer>827517285</integer>
		<integer>827547276</integer>
		<integer>827606476</integer>
		<integer>827888108</integer>
		<integer>828130034</integer>
		<integer>828213259</integer>
		<integer>828413864</integer>
		<integer>828452770</integer>
		<integer>829018625</integer>
		<integer>829064391</integer>
		<integer>829164417</integer>
		<integer>829289675</integer>
		<integer>829531272</integer>
		<integer>829604123</integer>
		<integer>829677351</integer>
		<integer>830093942</integer>
		<integer>830428165</integer>
		<integer>830765930</integer>
		<integer>830821976</integer>
		<integer>830853238</integer>
		<integer>830949560</integer>
		<integer>831590380</integer>
		<integer>831698396</integer>
		<integer>831709420</integer>
		<integer>831738265</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>Action</string>
			<key>genreId</key>
			<integer>7001</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>Strategy</string>
			<key>genreId</key>
			<integer>7017</integer>
		</dict>
	</array>
	<key>userName</key>
	<string></string>
	<key>vendorId</key>
	<integer>676757</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
